%h2 Diputados Locales
%table.table.table-striped
  %tr
    %th Nombre
    %th Acciones
  - @locals.each do |local|
    %tr
      %td
        = local.first_name
        = local.last_name
      %td
        = link_to 'Editar', edit_local_path(local.id)
        |
        \#{link_to 'Borrar', local_path(local), method: :delete, data: { confirm: 'Estas seguro?' }}
