- if params[:controller] == 'about'
  .highlight
    %h3 Location Info
    %ul
      %li CDE PRI Hidalgo
      %li Blvd. Luis Donaldo Colosio 2013
      %li Col. Ex Hacienda de Coscotitlán
      %li (771) 71-702-27
      %li prihidalgooficial@gmail.com
