<h2>Categorías</h2>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Editar', edit_category_path(category.id) %> |
        <%= link_to 'Borrar', category_path(category), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
</table>
