<div id="reports-show">
  <h2>Municipio Apan</h2>
  <div class="reports-show-left">
    <%= image_tag ('logos/Glifoaca.gif')%>
  </div>
  <div class="reports-show-right">
     <h3>Report info:</h3>
     <ul>
       <li><strong>Category: </strong>Municipios</li>
       <li><strong>Pdte. Municipal: </strong>Juan Pérez</li>
       <li><strong>Dip. Local: </strong>Pedro Sánchez</li>
       <li><strong>Dip. Federal: </strong>Antonio León</li>
       <li><strong>Renovación CDM: </strong> 10-Dic-2018</li>
       <li><strong>Elecciones: </strong>Imagenes</li>
       <li><strong>Situación Municipio: </strong>Text</li>
       <li><strong>Situación CDM: </strong>Text</li>
       <li><strong>Temas Reunión </strong>Text</li>
       <%= link_to "Wikipedia","http://google.com", class: "btn btn-success", target: '_blank'%>
     </ul>
  </div>
  <div class="clearfix"></div>
  <h4>Observaciones: </h4>
  <p>Flannel williamsburg kickstarter, echo park pickled ramps edison bulb street art DIY chambray pabst brunch biodiesel +1 wolf. Narwhal cray meditation kogi, street art bespoke truffaut photo booth freegan letterpress selvage vegan. Mustache unicorn lo-fi chicharrones, pabst kitsch meggings. Activated charcoal edison bulb master cleanse viral freegan. Letterpress dreamcatcher cred poke photo booth waistcoat, pour-over ugh gentrify put a bird on it butcher wolf keytar tumblr scenester. Actually typewriter pop-up, brooklyn fashion axe subway tile bitters four loko blue bottle prism pickled vaporware. Migas live-edge lumbersexual, affogato drinking vinegar farm-to-table selvage cornhole tofu.</p>
</div>
